#canvas {
    position: relative;
    width: 800px;
    height: 600px;
    border: 1px solid black;
    
}

table {
    position: absolute;
    background-color: green;
    top: 40px;
    left: 40px;
    
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    position: relative;
    padding: 0;
}

.path {
    background-color: burlywood;
}

.enemy {
    background-color: red;
}

.towers {
    background-color: blue ;
}

.healthDisplay {
    position: absolute;
    width: 150px;
    height: 50px;
    border: 2px solid red;
    top: 40px;
    right: 40px;
    text-align: center;
}

.heart {
    background-size: contain;
    background-image: url(images/corazon.png);
    
}

.projectile {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: yellow;
    top: 6px;
    left: 6px;
}

#start {
    display: inline-block;
    position: absolute;
    left: 340px;
    bottom: 100px;
    z-index: 1;
}

#startButton {
    width: 120px;
    height: 50px;
    color: red;
    background-color: whitesmoke;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    
}

#start:hover {
    box-shadow: 10px 5px 5px tomato;
}

#startScreen {
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url(images/startImage.png);
    background-size: contain;  
}

footer {
    color: red;
    z-index: 2;
    position: absolute;
    bottom : 0;
    left: 32%;
}


