body {
    position: relative;
}

#welcome {
    font-family: 'Goldman', cursive;
    line-height: 800px;
    text-align: center;
    font-size: 60px;
    position: relative;
    width: 1000px;
    height: 800px;
    background-color: white;
    z-index: 2;
    margin: 0 auto;
}

#canvas {
    font-family: 'Goldman', cursive;
    position: relative;
    width: 1000px;
    height: 800px;
    border: 1px solid black;
    background-color: black;
    top: 0;
    left: 0;
    display: none;
    margin: 0 auto;
}

table {
    position: absolute;
    border: 1px solid black;
    top: 80px;
    left: 40px;
    border-spacing: 0;
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    position: relative;
    padding: 0;
}

td:hover {
    background-color: rgba(0, 183, 255, 0.11);
}

#muteAllSound {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    background-color: white;
    z-index: 4;
    background-image: url(images/turnOffSound.png);
    background-size: 100%;
    border-radius: 25px;
}

.path {
    background-image: url(images/path.png);
    background-color: black;
}

.enemy {
    background-image: url(images/virus.gif);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.tower1 {
    background-image: url(images/weapon1.png);
}

.tower2 {
    background-image: url(images/weapon2.png);
}

.tower3 {
    background-image: url(images/weapon3.png);
}

#shop {
    position: absolute;
    display: inline-block;
    text-align: center;
    z-index: -1;
    width: 180px;
    height: 210px;
    top: 250px;
    right: 40px;
}

.shopTower {
    color: white;
    font-size: 20px;
    width: 100%;
    height: 70px;   
}

#tower1Price {
    color: yellow;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#tower2Price {
    color: yellow;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#tower3Price {
    color: yellow;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.shopCoins {
    width: 20px;
    height: 20px;
}

#heart {
    top: 80px;
    right: 160px;
    z-index: -1;
    width: 50px;
    height: 50px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/heart.png);
}

#health {
    top: 80px;
    right: 110px;
    z-index: -1;
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    color: red;
}

#coin {
    top: 130px;
    right: 165px;
    z-index: -1;
    width: 40px;
    height: 40px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/coin.png);
}

#coins {
    top: 130px;
    right: 110px;
    z-index: -1;
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    color: yellow;
}

#enemiesLeft {
    position: absolute;
    display: none;
    width: 250px;
    height: 30px;
    z-index: 1;
    top: 30px;
    left: 40px;
    font-size: 20px;
    color: white;
}

#towersLeft {
    position: absolute;
    display: none;
    width: 250px;
    height: 30px;
    z-index: 1;
    top: 30px;
    left: 300px;
    font-size: 20px;
    color: white;
}

#lvl {
    position: absolute;
    display: none;
    width: 250px;
    height: 30px;
    z-index: 1;
    top: 30px;
    left: 600px;
    font-size: 20px;
    color: white;
}

.projectile {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url(images/bulletGlow.png);
    background-size: contain;
    top: 4px;
    left: 4px;
}

#start {
    display: inline-block;
    position: absolute;
    left: 440px;
    bottom: 100px;
    z-index: 1;
    border-radius: 10px;
}

#startButton {
    width: 120px;
    height: 50px;
    color: red;
    background-color: whitesmoke;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
}

#start:hover {
    box-shadow: 10px 5px 5px tomato;
}

#startScreen {
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url(images/startImage.png);
    background-size: contain;
    background-repeat: no-repeat;
}

footer {
    color: red;
    z-index: 2;
    position: absolute;
    bottom : 0;
    left: 35%;
}

#gameOver {
    width: 400px;
    height: 200px;
    background-color: black;
    color: white;
    border: 10px solid red;
    border-radius: 30px;
    position: absolute;
    font-size: 50px;
    line-height: 200px;
    text-align: center;
    top: 300px;
    left: 300px;
    z-index: -1;
}

#victory {
    width: 400px;
    height: 200px;
    background-color: black;
    color: white;
    border: 10px solid blue;
    border-radius: 30px;
    position: absolute;
    font-size: 50px;
    line-height: 200px;
    text-align: center;
    top: 300px;
    left: 300px;
    z-index: -1;
}
 h4 {
     position: absolute;
     font-size: 15px;
     top: 50px;
     left: 125px;
 }

#server {
    background-image: url(images/server.png);
    width: 100px;
    height: 100px;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    left: 672px;
    top: 340px;
    z-index: -1;
}
