#canvas {
    position: relative;
    width: 800px;
    height: 600px;
    border: 1px solid black;
    
}

table {
    position: absolute;
    background-color: green;
    top: 40px;
    left: 40px;
    
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    position: relative;
    padding: 0;
}

.path {
    background-color: burlywood;
}

.enemy {
    background-color: red;
}

.towers {
    background-color: blue ;
}

.healthDisplay {
    position: absolute;
    width: 150px;
    height: 50px;
    border: 2px solid red;
    top: 40px;
    right: 40px;
    text-align: center;
}

.projectile {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: yellow;
    top: 6px;
    left: 6px;
}
